<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Instructor list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
    <h3>Instructor List</h3>
    <hr>

    <table class="table table-bordered table-stripped">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Details</th>
                <th>Courses</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="instructor : ${instructorList}">
                <td th:text="${instructor.firstName}"></td>
                <td th:text="${instructor.lastName}"></td>
                <td th:text="${instructor.email}"></td>
                <td>
                    <a class="btn btn-info btn-sm"
                       th:data-detail="|Hobby: ${instructor.instructorDetail.hobby}   Youtube Channel: ${instructor.instructorDetail.youtubeChannel}|"
                       onclick="alert(this.getAttribute('data-detail'))">
                        Details
                    </a>
                </td>
                <td>
                    <a th:href="@{showCourses(instructorId=${instructor.id})}" class="btn btn-info btn-sm">
                        Courses
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>